*.axf
*.Bak
*.crf
*.d
*.dbgconf
*.dep
*.icf
*.iex
desktop.ini
*.lnp
*.lst
*.map
*.o
*.scvd
*.TMP
*.a
*.asm
*.idb
*.ilk
*.ipch
*.log
*.obj
*.pdb
*.command.1.tlog
*.tlog
*.__i
/MDK-ARM/JLinkLog.txt
*._ia
